<header>
    <div class="container-logo">
        <div class="logo m-1">
            <img src="../../../assets/icons/black-dress.svg" alt="logo-site">
            <h3>Black Dress</h3>
        </div>
    </div>
    <div class="container-icons">
        <div class="icon mr-1">
            <img src="../../../assets/icons/search_icon.svg" alt="search-hamburguer">
        </div>
        <div class="icon mr-1">
            <img src="../../../assets/icons/menu_hamburger_icon.svg" alt="menu-hamburguer">
        </div>

    </div>
</header>