<div class="container-slider">
    <div class="box-description">
        <h2>Quer vestidos bons e com um preço acessível?</h2>
        <p>Na <i>black-dress</i> os vestidos são lindos,<br>
            e promoções imperdíveis, então aproveite e compre com a
            gente
        </p>
        <button>
            VAMOS LÁ
        </button>
    </div>
    <div class="box-itens">
        <div class="cards">
            <img src="../../../assets/images/vestido-curto-louise-vinho.jpg" alt="">
            <div class="details">
                <h6>foi!</h6>
            </div>
        </div>
    </div>
</div>